<!DOCTYPE html>
@{Layout = "~/Views/Shared/_Layout.cshtml";}
<br />
<div>
    <h1 style="color:Black;font-size:40px;text-align:center;">Agriculture Books</h1><br />
    <table style="margin-left:21%" cellpadding="10" class="style">
        <tr>
            <td>

                <img src="pictures/agriculture/a1.jpg" width="250px" height="250px" /></a>
            </td>

            <td>
                <img src="pictures/agriculture/a2.jpg" width="250px" height="250px" /></a>
            </td>
            <td>
                <img src="pictures/agriculture/a3.jpg" width="250px" height="250px"></a>
            </td>
        </tr>

        <tr>
            <td>

                <img src="pictures/agriculture/a4.jpg" width="250px" height="250px" /></a>
            </td>

            <td>
                <img src="pictures/agriculture/a5.jpg" width="250px" height="250px" /></a>
            </td>
            <td>
                <img src="pictures/agriculture/a6.jpg" width="250px" height="250px"></a>
            </td>
        </tr>

        <tr>
            <td>

                <img src="pictures/agriculture/a7.jpg" width="250px" height="250px" /></a>
            </td>

            <td>
                <img src="pictures/agriculture/a8.jpg" width="250px" height="250px" /></a>
            </td>
            <td>
                <img src="pictures/agriculture/a9.jpg" width="250px" height="250px"></a>
            </td>
        </tr>

        <tr>
            <td>

                <img src="pictures/agriculture/a10.jpg" width="250px" height="250px" /></a>
            </td>

            <td>
                <img src="pictures/agriculture/a11.jpg" width="250px" height="250px" /></a>
            </td>
            <td>
                <img src="pictures/agriculture/a12.jpg" width="250px" height="250px"></a>
            </td>
        </tr>

        <tr>
            <td>

                <img src="pictures/agriculture/a13.jpg" width="250px" height="250px" /></a>
            </td>

            <td>
                <img src="pictures/agriculture/a14.jpg" width="250px" height="250px" /></a>
            </td>
            <td>
                <img src="pictures/agriculture/a15.jpg" width="250px" height="250px"></a>
            </td>
        </tr>

    </table>

</div>
