
<!DOCTYPE HTML>
@{Layout = "~/Views/Shared/_Layout.cshtml";}
<br/>
<div>
<h1 style = "color:Black;font-size:40px;text-align:center;">Categories of Books</h1>
<table style="margin-left:150px" alignment = "center" cellpadding="10" border=1>
        <tr>
	    	<td>
	            <p>Islamic</p>
            	<a href = "/Home/islamic"><img src="~/Images/Islamic.jpg" width="350px" height="350px" /></a>
            </td>
            
            <td>
            	<p>Information Technology</p>
                <a href="/Home/it"><img src="~/Images/IT.jpg" width="350px" height="350px" /></a>
            </td>
	    	<td>
	            <p>History</p>
                <a href="/Home/history"><img src="~/Images/history.jpg" width="350px" height="350px"></a>
            </td>
		
            </tr><br/>
            
            <tr>
            <td>
            	<p>Agriculture</p>
                <a href="/Home/agriculture"><img src="~/Images/agg.jpg" width="350px" height="350px"></a>
            </td>

	    	<td>
	            <p>Business</p>
                <a href="/Home/business"><img src="~/Images/buss.jpg" width="350px" height="350px"></a>
            </td>
            
            <td>
            	<p>Children</p>
                <a href="/Home/children"><img src="~/Images/cb.jpg" width="350px" height="350px"></a>
            </td> 
            </tr><br/>
            
            <tr>
            
	    	<td>
	            <p>Medical</p>
                <a href="/Home/med"><img src="~/Images/medical-books.jpg" width="350px" height="350px"></a>
            </td>
            
            <td>
            	<p>Sports</p>
                <a href="/Home/Sports"><img src="~/Images/sb.jpg" width="350px" height="350px"></a>
            </td>
            
	    	<td>
	            <p>Philosophy</p>
                <a href="/Home/philosophy"><img src="~/Images/phb.jpg" width="350px" height="350px"></a>
            </td>
            </tr>
        </table>
</div>
