<!DOCTYPE HTML>
@{Layout = "~/Views/Shared/_Layout.cshtml";}
<br/>
<div>
<h1 style = "color:Black;font-size:40px;text-align:center;">Business Books</h1><br/>
    	<table style="margin-left:21%" cellpadding="15">
        <tr>
	    	<td>
                <img src="~/Images/b1.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>
                <img src="~/Images/b2.jpg" width="250px" height="250px">
                </a>
            </td>           
		
	    	<td>
                <img src="~/Images/b3.jpg" width="250px" height="250px">
                </a>
            </td>
        </tr>   
        <tr>
            <td>
                <img src="~/Images/b4.jpg" width="250px" height="250px">
                </a>
            </td>           
		
	    	<td>
                <img src="~/Images/b5.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>
                <img src="~/Images/b6.jpg" width="250px" height="250px">
                </a>
            </td>           
		</tr>   
	    <tr>
	    	<td>
                <img src="~/Images/b7.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>
                <img src="~/Images/b8.jpg" width="250px" height="250px">
                </a>
            </td>           
		
	    	<td>
                <img src="~/Images/b9.jpg" width="250px" height="250px">
                </a>
            </td>
        </tr>   
		<tr>    
            <td>
                <img src="~/Images/b10.jpg" width="250px" height="250px">
                </a>
            </td>           
		
	    	<td>
                <img src="~/Images/b11.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>
                <img src="~/Images/b12.jpg" width="250px" height="250px">
                </a>
            </td>           
		</tr>     
		 <tr>
	    	<td>
                <img src="~/Images/b13.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>
                <img src="~/Images/b14.jpg" width="250px" height="250px">
                </a>
            </td>           
		
            <td>
                <img src="~/Images/b15.jpg" width="250px" height="250px">
                </a>
            </td>      
		</tr>
        </table>

</div>