<!DOCTYPE HTML>
@{Layout = "~/Views/Shared/_Layout.cshtml";}
<br/>
<div>
<h1 style = "color:Black;font-size:40px;text-align:center;">Children Books</h1><br/>
    	<table style="margin-left:21%" cellpadding="15">
        <tr>
	<td>
        <img src="~/Images/bb1.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>
                <img src="~/Images/bb2.jpg" width="250px" height="250px">
                </a>
            </td>           
		
	    	<td>
                <img src="~/Images/bb3.jpg" width="250px" height="250px">
                </a>
            </td>
        </tr>   
        <tr>
            <td>
                <img src="~/Images/bb4.jpg" width="250px" height="250px">
                </a>
            </td>           
		
	    	<td>
                <img src="~/Images/bb5.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>
                <img src="~/Images/bb6.jpg" width="250px" height="250px">
                </a>
            </td>           
		</tr>   
	    <tr>
	    	<td>
                <img src="~/Images/bb7.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>
                <img src="~/Images/bb8.jpg" width="250px" height="250px">
                </a>
            </td>           
		
	    	<td>
                <img src="~/Images/bb9.jpg" width="250px" height="250px">
                </a>
            </td>
        </tr>   
		<tr>    
            <td>
                <img src="~/Images/bb10.jpg" width="250px" height="250px">
                </a>
            </td>           
		
	    	<td>
                <img src="~/Images/bb11.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>
                <img src="~/Images/bb12.jpg" width="250px" height="250px">
                </a>
            </td>           
		</tr>     
		 <tr>
	    	<td>
                <img src="~/Images/bb13.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>
                <img src="~/Images/bb14.jpg" width="250px" height="250px">
                </a>
            </td>           
		
            <td>
                <img src="~/Images/bb15.jpg" width="250px" height="250px">
                </a>
            </td>      
		</tr>
        </table>

</div>