<!DOCTYPE HTML>
@{Layout = "~/Views/Shared/_Layout.cshtml";}
<br/>
<div>
<h1 style = "color:Black;font-size:40px;text-align:center;">History Books</h1><br/>
    	<table style="margin-left:21%" cellpadding="10" class = "style">
        <tr>
	    <td>
	            
            <img src="~/Images/h1.jpg" width="250px" height="250px" /></a>
            </td>
            
            <td>
                <img src="~/Images/h2.jpg" width="250px" height="250px" /></a>
            </td>
	    	<td>
                <img src="~/Images/h3.jpg" width="250px" height="250px"></a>
            </td>
        </tr>

	 <tr>
	    <td>
	            
            <img src="~/Images/h4.jpg" width="250px" height="250px" /></a>
            </td>
            
            <td>
                <img src="~/Images/h5.jpg" width="250px" height="250px" /></a>
            </td>
	    	<td>
                <img src="~/Images/h6.jpg" width="250px" height="250px"></a>
            </td>
        </tr>

	 <tr>
	    <td>
	            
            <img src="~/Images/h7.jpg" width="250px" height="250px" /></a>
            </td>
            
            <td>
                <img src="~/Images/h8.jpg" width="250px" height="250px" /></a>
            </td>
	    	<td>
                <img src="~/Images/h9.jpg" width="250px" height="250px"></a>
            </td>
        </tr>
            
         <tr>
	    <td>
	            
            <img src="~/Images/h10.jpg" width="250px" height="250px" /></a>
            </td>
            
            <td>
                <img src="~/Images/h11.jpg" width="250px" height="250px" /></a>
            </td>
	    	<td>
                <img src="~/Images/h12.jpg" width="250px" height="250px"></a>
            </td>
        </tr>

	 <tr>
	    <td>
	            
            <img src="~/Images/h13.jpg" width="250px" height="250px" /></a>
            </td>
            
            <td>
                <img src="~/Images/h14.jpg" width="250px" height="250px" /></a>
            </td>
	    	<td>
                <img src="~/Images/h15.jpg" width="250px" height="250px"></a>
            </td>
        </tr>
            
        </table>
</div>