
<!DOCTYPE HTML>
@{Layout = "~/Views/Shared/_Layout.cshtml";}
<br/>
<div>
<h1 style = "color:Black;font-size:40px;text-align:center;">Islamic Books</h1><br/>
<table style="margin-left:21%" cellpadding="10" class = "style">
        <tr>
	    <td>
	            
            <img src="~/Images/000.jpg" width="250px" height="250px" /></a>
            </td>
            
            <td>
                <img src="~/Images/111.jpg" width="250px" height="250px" /></a>
            </td>
	    	<td>
                <img src="~/Images/222.jpg" width="250px" height="250px"></a>
            </td>
        </tr>

	 <tr>
	    <td>
	            
            <img src="~/Images/333.jpg" width="250px" height="250px" /></a>
            </td>
            
            <td>
                <img src="~/Images/444.jpg" width="250px" height="250px" /></a>
            </td>
	    	<td>
                <img src="~/Images/555.jpg" width="250px" height="250px"></a>
            </td>
        </tr>

	 <tr>
	    <td>
	            
            <img src="~/Images/666.jpg" width="250px" height="250px" /></a>
            </td>
            
            <td>
                <img src="~/Images/777.jpg" width="250px" height="250px" /></a>
            </td>
	    	<td>
                <img src="~/Images/888.jpg" width="250px" height="250px"></a>
            </td>
        </tr>
            
         <tr>
	    <td>
	            
            <img src="~/Images/999.jpg" width="250px" height="250px" /></a>
            </td>
            
            <td>
                <img src="~/Images/101.jpg" width="250px" height="250px" /></a>
            </td>
	    	<td>
                <img src="~/Images/102.jpg" width="250px" height="250px"></a>
            </td>
        </tr>

	 <tr>
	    <td>
	            
            <img src="~/Images/103.jpg" width="250px" height="250px" /></a>
            </td>
            
            <td>
                <img src="~/Images/104.jpg" width="250px" height="250px" /></a>
            </td>
	    	<td>
                <img src="~/Images/105.jpg" width="250px" height="250px"></a>
            </td>
        </tr>
            
        </table>


</div>