<!DOCTYPE HTML>
@{Layout = "~/Views/Shared/_Layout.cshtml";}
<br/>
<div>
<h1 style = "color:Black;font-size:40px;text-align:center;">Information Technology Books</h1><br/>
    	<table style="margin-left:21%" cellpadding="10" class = "style">
        <tr>
	    <td>
	            
            <img src="~/Images/16.jpg" width="250px" height="250px" /></a>
            </td>
            
            <td>
                <img src="~/Images/17.jpg" width="250px" height="250px" /></a>
            </td>
	    	<td>
                <img src="~/Images/18.jpg" width="250px" height="250px"></a>
            </td>
        </tr>

	 <tr>
	    <td>
	            
            <img src="~/Images/19.jpg" width="250px" height="250px" /></a>
            </td>
            
            <td>
                <img src="~/Images/20.jpg" width="250px" height="250px" /></a>
            </td>
	    	<td>
                <img src="~/Images/29.jpg" width="250px" height="250px"></a>
            </td>
        </tr>

	 <tr>
	    <td>
	            
            <img src="~/Images/22.jpg" width="250px" height="250px" /></a>
            </td>
            
            <td>
                <img src="~/Images/23.jpg" width="250px" height="250px" /></a>
            </td>
	    	<td>
                <img src="~/Images/24.jpg" width="250px" height="250px"></a>
            </td>
        </tr>
            
         <tr>
	    <td>
	            
            <img src="~/Images/25.gif" width="250px" height="250px" /></a>
            </td>
            
            <td>
                <img src="~/Images/26.jpg" width="250px" height="250px" /></a>
            </td>
	    	<td>
                <img src="~/Images/27.jpg" width="250px" height="250px"></a>
            </td>
        </tr>

	 <tr>
	    <td>
	            
            <img src="~/Images/28.jpg" width="250px" height="250px" /></a>
            </td>
            
            <td>
                <img src="~/Images/29.jpg" width="250px" height="250px" /></a>
            </td>
	    	<td>
                <img src="~/Images/30.gif" width="250px" height="250px"></a>
            </td>
        </tr>
            
        </table>

</div>