<!DOCTYPE HTML>
@{Layout = "~/Views/Shared/_Layout.cshtml";}
<br/>
<div>
<h1 style = "color:Black;font-size:40px;text-align:center;">Medical Books</h1><br/>
    	<table style="margin-left:21%" cellpadding="15">
        <tr>
	    	<td>
                <img src="~/Images/m1.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>
                <img src="~/Images/m2.jpg" width="250px" height="250px">
                </a>
            </td>           
		
	    	<td>
                <img src="~/Images/m3.jpg" width="250px" height="250px">
                </a>
            </td>
        </tr>   
        <tr>
            <td>
                <img src="~/Images/m4.jpg" width="250px" height="250px">
                </a>
            </td>           
		
	    	<td>
                <img src="~/Images/m5.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>
                <img src="~/Images/m6.jpg" width="250px" height="250px">
                </a>
            </td>           
		</tr>   
	    <tr>
	    	<td>
                <img src="~/Images/m7.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>
                <img src="~/Images/m8.jpg" width="250px" height="250px">
                </a>
            </td>           
		
	    	<td>
                <img src="~/Images/m9.jpg" width="250px" height="250px">
                </a>
            </td>
        </tr>   
		<tr>    
            <td>
            <img src="pictures/medical/m10.jpg" width="250px" height="250px">
                </a>
            </td>           
		
	    	<td>
                <img src="~/Images/m11.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>
                <img src="~/Images/m12.jpg" width="250px" height="250px">
                </a>
            </td>           
		</tr>     
		 <tr>
	    	<td>
                <img src="~/Images/m13.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>
                <img src="~/Images/m14.jpg" width="250px" height="250px">
                </a>
            </td>           
		
            <td>
                <img src="~/Images/m15.jpg" width="250px" height="250px">
                </a>
            </td>      
		</tr>
        </table>

</div>