<!DOCTYPE HTML>
@{Layout = "~/Views/Shared/_Layout.cshtml";}
<br/>
<div>
<h1 style = "color:Black;font-size:40px;text-align:center;">Philosophy Books</h1><br/>
    	<table style="margin-left:21%" cellpadding="15" class = "style">
        <tr>
	    	<td>
                <img src="~/Images/af1.jpg" width="250px" height="250px" /></a>
            </td>
            
            <td>
                <img src="~/Images/af2.jpg" width="250px" height="250px" /></a>
            </td>
	    	<td>
                <img src="~/Images/af3.jpg" width="250px" height="250px"></a>
            </td>
            </tr>
            
            <tr>
            <td>
                <img src="~/Images/af4.jpg" width="250px" height="250px"></a>
            </td>

	    	<td>
                <img src="~/Images/af5.jpg" width="250px" height="250px"></a>
            </td>
            
            <td>
                <img src="~/Images/af6.jpg" width="250px" height="250px"></a>
            </td> 
            </tr>
            
            <tr>
            
	    	<td>
                <img src="~/Images/af7.jpg" width="250px" height="250px"></a>
            </td>
            
            <td>
                <img src="~/Images/af8.jpg" width="250px" height="250px"></a>
            </td>
            
	    	<td>
                <img src="~/Images/af9.jpg" width="250px" height="250px"></a>
            </td>
            </tr>
            
            <tr>
            <td>
                <img src="~/Images/af10.jpg" width="250px" height="250px"></a>
            </td>         
            
	    	<td>
                <img src="~/Images/af11.jpg" width="250px" height="250px"></a>
            </td>
            
            <td>
                <img src="~/Images/af12.jpg" width="250px" height="250px"></a>
            </td>           
		</tr>     
		 <tr>
	    	<td>
                <img src="~/Images/af13.jpg" width="250px" height="250px"></a>
            </td>
            
            <td>
                <img src="~/Images/af14.jpg" width="250px" height="250px"></a>
            </td>           
            <td>
                <img src="~/Images/af15.jpg" width="250px" height="250px"></a>
            </td>      
		</tr>
        </table>

</div>