@model MvcApplication1.Models.Book
<!DOCTYPE HTML>

@{Layout = "~/Views/Shared/_Layout.cshtml";}
<br/>
<div>

<h1 style = "color:Black;font-size:40px;text-align:center;">Search By ISBN</h1><br/><br/>
    <form method="post" action="/Home/searchByISBN2">
        <p style="margin-left:40%">
            ISBN:
            <input style="margin-left:0%" type="text" name="bookISBN"
                   maxlength="25" />
            <input name="searchByISBN" type="submit" value="Search" />

        </p>
        
    </form>

</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

