<!DOCTYPE HTML>
<html>
@{Layout = "~/Views/Shared/_Layout.cshtml";}
<br/>
<div>
<h1 style = "color:Black;font-size:40px;text-align:center;">Sports Books</h1><br/>

    	<table  style="margin-left:21%" cellpadding="15">
        <tr>
	    	<td>
                <img src="~/Images/s1.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>
                <img src="~/Images/s2.jpg" width="250px" height="250px">
                </a>
            </td>           
		
	    	<td>
                <img src="~/Images/s3.jpg" width="250px" height="250px">
                	</a>
            </td>
        </tr>   
        <tr>
            <td>
                <img src="~/Images/s4.jpg" width="250px" height="250px">
                </a>
            </td>           
		
	    	<td>
                <img src="~/Images/s5.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>

                <img src="~/Images/s6.jpg" width="250px" height="250px">
                </a>
            </td>           
		</tr>   
	    <tr>
	    	<td>
                <img src="~/Images/s7.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>
                <img src="~/Images/s8.jpg" width="250px" height="250px">
                </a>
            </td>           
		
	    	<td>
                <img src="~/Images/s9.jpg" width="250px" height="250px">
                </a>
            </td>
        </tr>   
		<tr>    
            <td>
                <img src="~/Images/s10.jpg" width="250px" height="250px">
                </a>
            </td>           
		
	    	<td>
                <img src="~/Images/s11.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>
                <img src="~/Images/s12.jpg" width="250px" height="250px">
                </a>
            </td>           
		</tr>     
		 <tr>
	    	<td>
                <img src="~/Images/s13.jpg" width="250px" height="250px">
                </a>
            </td>
            
            <td>
                <img src="~/Images/s14.jpg" width="250px" height="250px">
                </a>
            </td>           
		
            <td>
                <img src="~/Images/s15.jpg" width="250px" height="250px">
                </a>
            </td>      
		</tr>
        </table>

</div>